
.hero-section{  
  background-image: url('../../src/assets/hero-background.png');  
  background-size: cover;  
  background-position: center;  
  height: 80vh;  
  display: flex;  
  justify-content: space-between;  
  padding: 0 20px;  
  font-family: 'Syne', sans-serif;
  margin-top: 4em;
}
.left-section{
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
h2{
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #222222;
}
p{
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #555555;
}
.right-section{
 width: 200px ;
 margin-top: 2em;
 display: flex;
flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  margin-bottom: 300px;
}
.button-hero-last{
  padding: 10px 20px;
  border: 1px solid #FF3B3B;
  border-radius: 30px;
  margin-top: 1em;
  font-size: 1rem;
  font-weight: 600;
  color: #FF3B3B;
  background-color: transparent;
  transition: all 0.3s ease;  
  margin-left: 5px;
}
.button-hero-last:hover{
  background-color: #FF3B3B;
  color: #fff;
  cursor: pointer;
}
.avatar-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar-section h3{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #222222;
  margin-top: 30px;
}